.burger-wrap {
    float: right;
    height: 100%
}

.burger-wrap:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    width: 0
}

.burger {
    position: relative;
    width: 2.5em;
    height: 1.8em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer
}

.burger>div {
    position: absolute;
    left: 0;
    right: 0;
    background: #171616;
    height: .2em
}

.burger .top {
    top: 0;
    transition: transform 0.5s, top 0.2s
}

.burger .middle {
    top: .8em;
    transition: transform 0.5s ease 0.2s, top 0.2s
}

.burger .bottom {
    top: 1.6em;
    transition: all 0.5s ease 0.1s
}

.BurgerMenu--active .burger .top {
    top: .8em;
    transform: rotate(135deg)
}

.BurgerMenu--active .burger .middle {
    transform: rotate(-135deg)
}

.BurgerMenu--active .burger .bottom {
    top: 0.8em;
    opacity: 0;
    transform: rotate(180deg)
}

.BurgerMenu--active .links {
    visibility: visible;
    opacity: 1
}

.projects {
    margin-top: 4.5em;
    margin-bottom: 3.5em
}

.projects .project {
    margin-bottom: 2em
}

.projects a {
    position: relative;
    display: block
}

.projects a:hover .project-hover {
    background: #F9690E;
    color: #000;
    opacity: 0.6;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear
}

.projects .image-item {
    display: block;
    max-width: 100%;
    height: auto
}

.projects .project-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 200ms linear 300ms;
    -moz-transition: all 200ms linear 300ms;
    -ms-transition: all 200ms linear 300ms;
    -o-transition: all 200ms linear 300ms;
    transition: all 200ms linear 300ms
}

.project-caption {
    padding-top: 2.7em;
    padding-left: 2.1em;
    line-height: 1.2
}

.project-caption .project-title {
    font-size: 2.8em;
    font-weight: bold
}

.project-caption .project-type {
    font-size: 1.4em;
    text-transform: uppercase
}

.line::before {
    content: "";
    display: block;
    height: 1px;
    background: #ebebeb;
    margin-top: 4.2em;
    margin-bottom: 4.2em
}

.bottom-space {
    margin-bottom: 4.2em
}

.stickyNavigation .nav-container {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-bottom: 1.5em;
    -webkit-box-shadow: 0 5px 7px 0 rgba(1, 1, 1, 0.1);
    box-shadow: 0 5px 7px 0 rgba(1, 1, 1, 0.1);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s
}

.stickyNavigation .navbar {
    height: 5em;
    padding-top: 1.5em
}

.stickyNavigation .logo img {
    max-height: 5em
}

.stickyNavigation .header {
    padding-top: 9.1em
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 60px, 0);
        transform: translate3d(0, 60px, 0)
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 60px, 0);
        transform: translate3d(0, 60px, 0)
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@media only screen and (min-width: 22.5625em) {
    .projects {
        margin-top: 7.5em;
        margin-bottom: 6em
    }
    .project-caption .project-title {
        font-size: 3.5em
    }
}

@media only screen and (min-width: 27.875em) {
    .project-caption .project-type {
        font-size: 1.6em
    }
}

@media only screen and (min-width: 46.3125em) {
    .projects {
        margin-top: 10em
    }
    .projects .project {
        float: left
    }
    .projects .short-col {
        width: 32.21238%
    }
    .projects .wide-col {
        width: 66.01769%
    }
    .projects .project:nth-child(2n) {
        margin-right: 1.7699%
    }
    .project-caption {
        padding-top: 3.7em;
        padding-left: 3.1em
    }
    .project-caption .project-title {
        font-size: 4em
    }
}

@media only screen and (min-width: 58.5em) {
    .project-caption .project-title {
        font-size: 4.6em
    }
}